<!-- 
---
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import ChargeSection from '../components/ChargeSection.astro';
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla - El coche de tus sueños." >
  <LandingHeader />
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-x-hidden overflow-auto scroll-smo">
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <ChargeSection />
    </div>
    <div class="snap-center">
      <HeroSection />
    </div>
    
  </main>
</Layout>
-->


---
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import ModelThree from "../components/ModelThree.astro";
import Layout from "../layouts/Layout.astro";
import Model from "../components/Model.astro";
---

<Layout title="Tesla - El coche de tus sueños (y de Elon Musk)">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <Model />
    </div>
    <div class="snap-center">
      <ModelThree />
    </div>
  </main>
</Layout>